.domain-hero-wrapper {
  background-image: linear-gradient(45deg,#00349b,rgba(0,92,255,.9219),#007aff);
  color: white;
  padding-top: 1px; /* why? to removing horror whitespace*/
  padding-bottom: 100px;
  text-align: center;
}

.domain-hero-title {
  font-size: 50px;
  line-height: 50px;
  font-family: 'Nunito Sans',sans-serif;
  font-weight: bold;
  text-align: center;
}

.domain-hero-description {
  font-size: 20px;
  line-height: 177.3%;
  margin-top: 20px;
    
}

.hero-form-wrapper {
  padding-top: 1.5rem;
}

#search-hero {
  width: 450px;
  padding: 12px 15px;
  border-radius: 4px;
  font-family: NunitoSansRegular,sans-serif;
  font-size: 14px;
  color: rgba(58,65,102,.7);
  background: #fff;
  border: none;
}

#search-hero::placeholder {
  font-size: 10px;
}

#domain-name {
  background-color: #dae0e5;
  border-color: #d3d9df;
  width: 100px;
}

#domain-name option {
  
}

.domain-price-wrapper {
 
}

.domain-price {
 list-style: none;
 padding: 0 7px;
}

.domain-price:not(:first-child) {
  border-left: 1px solid #fff;
}

/*START OF CHEAP DOMAIN SECTION*/

.cheap-domain-wrapper {

}

.cheap-domain-wrapper .heading, .new-domain-wrapper .heading {
  margin-bottom: 25px;
}


.cheap-domain-description, .new-domain-description {
  font-size: 18px;
  line-height: 150%;
  color: rgba(58,65,102,.7);
  margin-top: 10px;
  text-align: center;
  margin-bottom: 70px;
}

.cheap-domain-card-wrapper {
  margin: 20px 0;
}

.cheap-domain {
  text-align: left;
  flex: none;
  width: 18%;
  padding: 10px 10px 30px 20px;
  justify-content: space-between;
}


.cheap-domain-item-name {
  font-family: 'Nunito Sans',sans-serif;
  font-weight: 700;
  line-height: 50%;
  font-size: 34px;
  color: #007aff;
}

.cheap-domain-item-description {
  line-height: 160%;
  font-size: 14px;
  height: 48px;
  color: rgba(58,65,102,.7);
  margin-top: 20px;
}

.cheap-domain-price {
  margin-bottom: 40px;
  font-family: 'Nunito Sans',sans-serif;
  line-height: 100%;
  font-size: 20px;
  color: rgba(58,65,102,.7);
  margin-top: 36px;
  font-weight: bold;
}

.btn-cheap-domain {
  font-size: 12px;
  text-transform: capitalize;
  padding: 6px 40px;
}


/*START OF TABLE DOMAIN SECTION*/

.new-domain-wrapper {
  padding: 100px 0;
}

.new-domain-table-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 700px;
  margin: 0 auto;
}

.new-domain-form-wrapper {
  text-align: right;
  width: 100%;
  margin-bottom: 20px;
}

.new-domain-search-label {
  display: inline-block;
  color: #3a4166;
}

#new-domain-search {
  color: rgba(58,65,102,.7);
  height: 40px;
  border: 1px solid #c4c4c4;
  border-radius: 4px;
  margin-left: 15px;
}

#new-domain-search::placeholder {
  font-size: 10px;
}

table, th, td {
  border: 1px solid rgba(222,222,222, .8);
  border-collapse: collapse;
}

th, td {
  padding: 10px;
}

td {
  color: rgba(58,65,102,.7);
  font-weight: bolder;
}

td:nth-child(2) {
  font-weight: 400;
}

td:nth-child(3) {
  text-align: center;
}


.new-domain-table-wrapper table {
  width: 100%;
  border-spacing: 2px;
  border-color: grey;
}

.new-domain-th {
  background: #007aff;
  text-align: left;
  color: #fff;
  font-size: 22px;
  padding: 24px 20px;
}


.new-domain-paginate-wrapper {
  width: 100%;
  text-align: right;
  margin-top: 15px;
}

.new-domain-paginate-number {
  font-size: 14px;
  color: rgba(58,65,102,.5);
  padding: 0 2px;
}

.new-domain-paginate-number:first-child {
  border-bottom: 2px blue solid;
}

.paginate-button-previous, .paginate-button-next {
  display: inline-block;
  width: 26px;
  height: 26px;
  border-radius: 50%;
  background: #f6fbff;
  cursor: pointer;
  padding-top: 3px;
  text-align: center;
  margin: 0 5px;
  box-sizing: border-box;
  color: #007aff;
}

.new-domain-paginate-wrapper .fas {
  -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
}

/*START OF TIPS DOMAIN SECTION*/

.domain-tips-wrapper {
  background: #f6fbff;
  padding: 40px 0;
  
}


.domain-tips-list-wrapper {
  list-style: none;
  flex-wrap: wrap;
  justify-content: center;
  display: flex;
  list-style: none;
  padding: 0 5px;
  margin-bottom: 0;
  margin-top: 50px;
}

.domain-tips {
  position: relative;
  height: 200px;
  margin: 0 20px;
  min-width: 464px;
}

.domain-tips-number {
  position: absolute;
  z-index: 1;
  top: -100px;
  left: -10px;
  display: inline-block;
  font-family: 'Nunito Sans',sans-serif;
  font-weight: bold;
  line-height: 100px;
  font-size: 100px;
  color: rgba(58,65,102,.1)
}

.domain-tips-description-wrapper {
  width: 350px;
  height: 90px;
  display: flex;
  padding: 30px;
  align-items: center;
  position: absolute;
  z-index: 2;
  top: 30px;
  right: 20px;
  border-radius: 8px;
  background: #fff;
  box-shadow: 0 6px 30px rgba(17,26,104,.1);

}

.domain-tips-img {
 margin-right: 30px;
}

.domain-tips-description {

}

.btn-domain-tips-wrapper {
  text-align: center;
  margin-top: 40px;
  margin-bottom: 30px;
}

.btn-domain-tips {
  text-transform: capitalize;
  font-size: 16px;
  margin: 0px auto;
}

/*START OF WHY DOMAIN SECTION*/

.why-domain-wrapper {

}

.why-domain-list-wrapper {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  align-items: unset;
  justify-content: center;
  justify-content: space-between;
}

.why-domain {
  max-width: 360px;
  margin-top: 60px!important;
}


.why-domain-description {
  line-height: 177%;
  font-size: 14px;
  color: rgba(53,65,102,.7);
  margin-top: 20px;
}

.why-domain-why {
  font-size: 16px;
  line-height: 177%;
  color: rgba(58,65,102,.7);
  font-weight: bold;
  text-align: center;
}


